<table id="wishes" class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>DETAILS</th>
      <th>STATUS</th>
    </tr>
  </thead>
  <tbody>
    <% @wishes.each do |wish| %>
    <tr>
      <td class="wish-pic">
        <%= image_tag wish[:pic] %>
      </td>
      <td class="wish-details">
        <p><%= wish[:details] %></p>
      </td>
      <td>
        <p><%= wish[:status] %></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
